

<ion-tabs >
  <ion-header >
    <div class="headback">
      <ion-toolbar >
        <ion-grid>
          <ion-row>
            <ion-col><ion-title>Whatsapp</ion-title></ion-col>
            <ion-col></ion-col>
            <ion-col>
              <ion-icon class="search-icon" name="search"></ion-icon>
              <ion-icon class="" name="ellipsis-vertical-outline"></ion-icon>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </div>

  </ion-header>





  <ion-tab-bar slot="top" >

    <ion-segment value="custom">
      <ion-segment-button value="CHAT">
        <ion-label>CHAT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="CALL">
        <ion-label>CALL</ion-label>
      </ion-segment-button>
      <ion-segment-button value="STATUTS">
        <ion-label>STATUTS</ion-label>
      </ion-segment-button>
    </ion-segment>


  </ion-tab-bar>

</ion-tabs>
