

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item *ngFor="let un of EventList">
      <ion-avatar slot="start">
        <img [src]="'https://picsum.photos/80/80?random=' + un.id" alt="avatar" />
      </ion-avatar>
      <ion-label>

        <strong>{{un.libelle}}</strong>
        <ion-note color="medium" class="ion-text-wrap">
          Never gonna give you up Never gonna let you down Never gonna run...
        </ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">06:11</ion-note>
      </div>
    </ion-item>

  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
